/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Change to your preferred background color */
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .navbar img {
    max-height: 40px; /* Adjust the logo size as needed */
  }
  
  .navbar h1 {
    color: #3b77d1; /* Change to your preferred text color */
    margin: 0;
    margin-left:135px;    

  }
  
  .navbar-right a {
    color: #fff; /* Change to your preferred button text color */
    text-decoration: none;
    margin-left: 10px;
  }
  
  /* Add hover effect to buttons if desired */
  .navbar-right a:hover {
    text-decoration: underline;
    
  }
  .h1{
    padding-left: 50%;
  }