.main-div {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #151414;
    background-color: #44f1448b;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.searchbar {
    text-align: center;
    /* margin-right: 35px; */
}
.searchbar input{
    border-radius: 10px;
    text-align: center;
}

.searchbar input::placeholder {
    /* Change the font size and color as desired */
    font-size: 12px; /* Set the desired font size */
    font-weight: bold ;
    color: #57934b; /* Set the desired placeholder color */
  }


.search {
    border-radius: 20px;
    margin-bottom: 7px;
    margin-top: 7px;
    cursor:pointer;
}
/* .link{
    border-radius:20px;
    /* border:1px solid red; */
/*
    width:8%;
} */

.table {
    width: 95%;
    border-collapse: collapse;
    border-radius: 10px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
    overflow: hidden;
}

.headers {
    background-color: #ffffff;
    color: rgb(23, 197, 23);
    text-align: center;
    padding: 8px;
}

.data-even {
    text-align: center;
    padding: 8px;
    background-color: #6b7fe29f; /* Even row color */
    color:rgb(0, 0, 0);
    font-weight: bolder;
}

.data-odd {
    text-align: center;
    padding: 8px;
    font-style:italic;
    background-color: rgb(248, 244, 244); /* Odd row color */
}
.H1{
    text-align: center;
    filter:drop-shadow(4px 4px 2px rgb(0, 136, 255));
}

.btn-x {
  margin: 2px;
  border-radius: 7px;
  background-color: rgb(4, 4, 4);
}

.btn-x:hover {
  background-color: rgb(255, 255, 255);
}

.party-code-link {
  text-decoration: none;
  color: white;
}

.btn-x:hover .party-code-link {
  color: black;
  font-weight: bolder;
}/* Table.css */

/* ... Your existing CSS styles for other elements */

/* Apply scrollbar styles to the tbody element */
.table-body {
    /* Set the maximum height for the tbody to enable scrolling */
    max-height: 200px; /* You can adjust the height as needed */
  
    /* Add the scrollbar only when the content overflows */
    overflow-y: auto;
  
    /* Customize the scrollbar width and color */
    scrollbar-width: thin; /* or auto for browser default */
    scrollbar-color: #57934b #44f1448b; /* You can adjust the colors */
  }
  
  /* Style the scrollbar thumb (the draggable part) */
  .table-body::-webkit-scrollbar-thumb {
    background-color: #57934b; /* Change the color as needed */
    border-radius: 10px; /* Rounded corners for the thumb */
  }
  
  /* Style the scrollbar track (the background of the scrollbar) */
  .table-body::-webkit-scrollbar-track {
    background-color: #44f1448b; /* Change the color as needed */
  }