.main-div {
    width: 96%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #000000;
    background-color: #8e72ea;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.searchbar {
    text-align: center;
    /* margin-right: 35px; */
}
.searchbar input{
    border-radius: 10px;
    text-align: center;margin-top: 2px;
    margin-bottom: 4px;

}

.searchbar input::placeholder {
    /* Change the font size and color as desired */
    font-size: 12px; /* Set the desired font size */
    font-weight: bold ;
    color: #57934b; /* Set the desired placeholder color */
  }



/* .link{
    border-radius:20px;
    /* border:1px solid red; */
/*
    width:8%;
} */
.sorting-button{
  border-radius: 7px;

}
.sorting-button:hover {
  background-color: #090909;
  color:whitesmoke;
  font-weight: bolder;
  cursor:pointer;
}

.table {
    width: 99.5%;
    border-collapse:collapse;
    border-radius: 10px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 6px;
}

.headers {
    background-color: #ffffff;
    color: rgb(23, 197, 23);
    text-align: center;
    padding: 8px;
}

.data-even {
    text-align: center;
    padding: 8px;
    background-color: #7887d0f3; /* Even row color */
    color:rgb(0, 0, 0);
    
  }
  
  .data-odd {
    text-align: center;
    padding: 8px;
    font-style:italic;
    font-weight: bolder;
    background-color: rgb(248, 244, 244); /* Odd row color */
}
.H1{
    text-align: center;
    filter:drop-shadow(1px 1px 8px rgb(0, 136, 255));
}

.btn-x {
  margin: 2px;
  border-radius: 7px;
  background-color: rgb(4, 4, 4);
}

.btn-x:hover {
  background-color: rgb(255, 255, 255);
}

.party-code-link {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.btn-x:hover .party-code-link {
  color: black;
  font-weight: bolder;
}/* Table.css */

/* ... Your existing CSS styles for other elements */

/* Apply scrollbar styles to the tbody element */

  .table-container{
    border:2px solid black;
    border-radius: 20px;
    margin-right:10px;
    overflow-y: auto;
  }
  ::-webkit-scrollbar{
    width:2rem;
  }
  ::-webkit-scrollbar-track{
    background-color:black;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 2rem;
    border:0.5rem solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #72ea7e;
  }

  @media (max-width: 768px){
  .table-body{
    width:80%;
    
  }
.table-body{
  max-height:1500px;
    }
  }
  